<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_rpi.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/arducam_cam0.yaml"/>
  <param name="health_monitor_enabled" value="false"/>
  <param name="velocity_to_consider_static" value="0.1"/>
  <param name="max_subsequent_unhealthy_updates" value="2"/>
  <param name="healthy_feature_distance_cov" value="0.5"/>
  <param name="healthy_feature_distance_cov_increment" value="0.3"/>
  <param name="unhealthy_feature_distance_cov" value="10"/>
  <param name="unhealthy_velocity" value="6.0"/>
  <!--param name="camera1_config" value="$(find rovio)/cfg/euroc_cam1.yaml"/-->
  <remap from="imu0" to="/imu/data_raw" />
  <remap from="cam0/image_raw" to="/left_image" />
  <remap from="cam1/image_raw" to="/right_image" />
  </node>
</launch>
